* {
  box-sizing: border-box;
  justify-content: center;
}
body {
  background: ;
  max-width: 600px;
  margin: 0 auto;
  clear: both;
  background: url(../pattern1.png);
  background-size: cover;
}
h1 {
  padding: 20px;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  color: sienna;
}
h2 {
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
}
button {
  text-align: center;
  font-size: 16px;
  color: sienna;
  display: inline-block;
  margin: 0 auto;
}
.scoreGrid {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
}
.grid {
  width: 400px;
  height: 600px;
  display: inline-block;
  position: relative;
  margin: 5% 12%;
}
.block {

}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  margin: 0;
  float: left;
  text-align: center;
  padding-top: 40px;
  font-family: sans-serif;
  background-color: lightgrey;
}

.noPic {
  background-color: lightgrey;
  border: 1px, solid;
}
.showPic {
  background-image: url(../corgi1.jpeg);
  background-size: cover;
}
.matched {
  background-image: url(../images
}
